<table class="table table-striped forum-header-footer" style="margin:0;">
  <tr>
    <td class="side">
    </td>

    <td class="middle text-center">
      <%= paginate @threads, window: 2  %>
    </td>

    <td class="side">
    </td>
  </tr>
</table>