<% content_for(:title, 'Bookmarks')%>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1">

    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li class="active">Bookmarks</li>
    </ol>

    <%= render partial: "header_footer" %>

    <% if @threads.empty? %>
      <h1 class="jumbotron text-center">You have no bookmarks, how sad :( </h1>
    <% else %>
      <%= render partial: "post_threads/list" %>
    <% end -%>
    
    <%= render partial: "header_footer" %>

    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li class="active">Bookmarks</li>
    </ol>

  </div>
</div>