<div class="panel panel-default">
	<div class="panel-heading">
		<h1 class="panel-title"><h1 class="text-center">About</h1></h1>
	</div>

	<div class="panel-body">
		<%#= about.bbcode_to_html_with_formatting.html_safe %>
		<p style="font-size:125%;">
		Welcome to the <b>Something Awesome Forums</b>!
		</p>
		<br>
		<p style="font-size:125%;">
			This site is my final project at <a href="http://appacademy.io" target="_blank">App Academy</a>, a full-stack web development program covering Ruby, Ruby on Rails, SQL, Javascript, JQuery, Backbone.js, and Node.js.  It is the product of nine weeks of intensive study condensed into eight days of applied knowledge.
		</p>
		<br>
		<p style="font-size:125%;">	The result is a forum site inspired by the <a href="forums.somethingawful.com" target="_blank">Something Awful Forums</a> but with fresh(er) styling thanks to Twitter's Bootstrap, a backend written in Ruby/Rails coupled with a PostgreSQL database, and JQuery helpers.
		</p>
		<br>
		<p style="font-size:125%;">
			The source for this site, along with other projects, can be found on my github page:<br>
			<a href="https://github.com/azacharyallen/Something-Awesome" target="_blank">
			https://github.com/azacharyallen/Something-Awesome
			</a>
		</p>
	</div>
</div>