<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <table class="table breadcrumb-table">
      <tr>
        <td>
          <ol class="breadcrumb">
            <li><a href="/">Home</a></li>
            <li><a href="<%= section_url(@forum.section) %>"><%= @forum.section.name %></a></li>
            <li class="active"><%= @forum.name %></li>
          </ol>
        </td>
      </tr>
    </table>
  </div>
</div>