  <div class="panel panel-default">
    <div class="panel-heading">
      <h1 class="panel-title">New Private Message to: <%= @user.username %></h1>
    </div>
  <div class="panel-body">
    <form action="<%= user_private_messages_url(@user) %>" method="post" role="form" class="form-horizontal">
      <input   type="hidden"
              name="authenticity_token"
              value="<%= form_authenticity_token %>">

      <div class="form-group">
       <label for="private_message_title" class="control-label col-xs-2">Title</label>
       <div class="col-xs-10">
         <input type="text" 
                class="form-control"
                id="private_message_title" 
                name="private_message[title]" 
                value=""
                placeholder="A Super Awesome Title!">
        </div>
      </div>

      <div class="form-group">
       <label for="private_message_body" class="control-label col-xs-2">Message</label>
       <div class="col-xs-10">
          <textarea 
                class="form-control"
                id="private_message_body" 
                name="private_message[body]" 
                value=""
                style="height:300px;"
                placeholder="Text can be styled with basic html tags &lt;b&gt;, &lt;i&gt;, &lt;blockquote&gt;"></textarea>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
          <input type="submit" class="btn btn-primary" value="Send PM">
        </div>
      </div>
    </form>
  </div>
</div>