<% content_for(:title, 'Private Messages')%>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1">

    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li class="active">Private Messages</li>
      <div class="pull-right">
      <%= paginate @messages  %>
    </div>
    </ol>

    <% if @messages.empty? %>
      <h1 class="jumbotron text-center">No one has sent you any messages, how sad :(</h1>
    <% else %>
      <%= render partial: "list" %>
    <% end -%>
    
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li class="active">Private Messages</li>
      <div class="pull-right">
      <%= paginate @messages  %>
    </div>
    </ol>

  </div>
</div>