  <%#= render 'form' %>

  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">New Thread</h1>
        </div>
      <div class="panel-body">
        <form action="<%= forum_post_threads_url(params[:forum_id]) %>" method="post" role="form" class="form-horizontal">
          <input   type="hidden"
                  name="authenticity_token"
                  value="<%= form_authenticity_token %>">

          <div class="form-group">
           <label for="post_thread_title" class="control-label col-xs-2">Title</label>
           <div class="col-xs-10">
             <input type="text" 
                    class="form-control"
                    id="post_thread_title" 
                    name="post_thread[title]" 
                    value=""
                    placeholder="A Super Awesome Thread!">
            </div>
          </div>

          <div class="form-group">
           <label for="post_body" class="control-label col-xs-2">Post</label>
           <div class="col-xs-10">
             <textarea 
                    class="form-control"
                    id="post_body" 
                    name="post[body]" 
                    value=""
                    placeholder="Some super awesome text!"></textarea>
            </div>
          </div>

          <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
              <input type="submit" class="btn btn-primary" value="Post Thread">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
