  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1 class="panel-title">Edit Post</h1>
        </div>
      <div class="panel-body">
        <form action="<%= post_url(@post) %>" method="post" role="form" class="form-horizontal">
          <input   type="hidden"
                  name="authenticity_token"
                  value="<%= form_authenticity_token %>">
          <input type="hidden" name="_method" value="PATCH">


          <div class="form-group">
           <label for="post_body" class="control-label col-xs-2">Your Post</label>
           <div class="col-xs-10">
             <textarea 
                    class="form-control"
                    id="post_body" 
                    name="post[body]" 
                    value=""
                    placeholder="A Super Awesome Post"><%= @post.body %></textarea>
            </div>
          </div>

          <div class="form-group">
            <div class="col-xs-offset-2 col-xs-10">
              <input type="submit" class="btn btn-primary" value="Update Post">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
