/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

body {
	background-color: rgb(28,37,42);
}

#sign-up-button:hover{
	background-color:orange;
}

.breadcrumb {
	margin:0;
}

.breadcrumb-table {
	margin:0;
	padding:0;
}

.pagination-td {
	text-align:right;
	vertical-align:middle !important;
	width:200px;
}

.table-striped>tbody>tr:nth-child(even)>td{
	background-color:rgb(232,232,232);
}

.table-striped>tbody>tr:nth-child(odd)>td{
	background-color:rgb(224,224,224);
}

a:hover {
	background-color: inherit;
}

.thread-table {
	color:rgb(42, 42, 42);
	margin:0;
}

.thread-bookmark-td {
	width:25px !important;
	vertical-align:middle  !important;
	font-size:18pt  !important;
}

.thread-title-td {
	vertical-align:middle  !important;
	max-width:550px  !important;
}

.thread-unread-td {
	vertical-align:middle !important;
}

.thread-author-td {
	vertical-align:middle  !important;
	text-align:right  !important;
	max-width: 150px !important;
	word-wrap:break-word !important;
}

.thread-reply-count-td {
	vertical-align:middle !important;
	text-align:right !important;
}

.thread-last-reply-td {
	vertical-align:middle !important;
	text-align:right !important;
}

.breadcrumb a {
	color:inherit;
}

.pagination a {
	color:inherit;
}

.bookmark-button {
	color:inherit;
}

.forum-list a{
	color:inherit;
}

.thread-table a:visited{
	color:rgb(42, 42, 42);
}

.thread-table a:hover{
	background-color:inherit;
	color:inherit;
}

.thread-table tr:hover td{
	background-color: rgb(210,210,210) !important;
}

.author-display {
	border-right: grey 1px solid;
	width:200px; min-width:200px;
	max-width:200px;
	word-wrap:break-word;
}

.username {
	margin-top:5px;
	color:black;
	font-size:115%;
}

.avatar_image {
	display: block;
	margin: auto;
}

.user-controls {
	text-align:center;
	padding-top:20px;
}

.breadcrumb-table tr {
	background-color: $breadcrumb-bg;
}

.post-table {
	margin:0;
	border-bottom:rgb(250,250,250) 1px solid;
}

.post-body-container {
	position:relative;
	height:100%;
	width:100%;
	display:inline-block;
}

.post-body {
	padding-bottom: 20px;
}

.post-edited {
	font-style: italic;
}

.post-created {
	position:absolute; 
	bottom:0; 
	left:0;
}

.post-controls {
	position:absolute;
	bottom:0;
	right:0;
}

.avatar_image {
	max-width: 150px;
}

blockquote {
	font-size:inherit;
	border:0;
	padding:5px;
}