/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

body {
	background-color: rgb(28,37,42);
}

#sign-up-button:hover{
	background-color:orange;
}

.breadcrumb {
	margin-bottom:0;
}

.table-striped>tbody>tr:nth-child(even)>td{
	background-color:rgb(232,232,232);
}

.table-striped>tbody>tr:nth-child(odd)>td{
	background-color:rgb(224,224,224);
}

a:hover {
	background-color: inherit;
}

.thread-table a:hover{
	background-color:inherit;
	color:inherit;
}

.thread-table tr:hover td{
	background-color: rgb(210,210,210) !important;
}

.avatar_image {
	max-width: 150px;
}

blockquote {
	font-size:inherit;
	border:0;
	padding:0;
}