// Place all the styles related to the Forums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#thread-list li:hover {
	font-weight: bold;
}

#thread-list li a:hover {
	color: inherit !important;
	background-color: inherit !important;
}