// Place all the styles related to the Sections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.forum-list li:hover {
	font-weight: bold !important;
}

.forum-list li a:hover {
	color: inherit !important;
	background-color: inherit !important;
}